body{
	background-color: #FFFFFF;
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px
}




#Footer{
	background-color: #f2f2f2;;
	width: 100%;
	padding-top: 12px;
	padding-bottom:12px;
    border-top: 1px solid #e4e4e4;
    display: block;
    position: absolute;
    bottom: 0px;
}
.Links{
	color: #66666A;
	text-decoration: none;
	font-family: Arial;
	font-size: 13px;
	padding-left: 27px;
    margin: 0 !important;

}
.Links:hover{
text-decoration: underline;
	}
.SpecialLinks:hover{
	text-decoration: underline;
}
.SpecialLinks{
	color: #66666A;
	text-decoration: none;
	font-family: Arial;
	font-size: 13px;
	float: right;
	padding-right: 27px;
	margin: 0 !important;

}