
body{
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
body, html{
	width:100% !important;
	height:100% !important;
}


img {
	display: block;
	margin:auto;
	height: 95px;
	width: 269px;
	position: absolute;

}

header{
padding: 20px;
}


#buttons{
	opacity: .85;
	float: right;
	margin-right: 30px;
	color: #000;
}

#buttons:hover{
	text-decoration: underline;	
}

#googlelaunchicon{
	height: 17px;
	width: 17px;
	float: right;
}

#Footer{
	background-color: #f2f2f2;;
	width: 100%;
	padding-top: 12px;
	padding-bottom:12px;
    border-top: 1px solid #e4e4e4;
    display: block;
    position: absolute;
    bottom: 0px;
}
.Links{
	color: #66666A;
	text-decoration: none;
	font-family: Arial;
	font-size: 13px;
	padding-left: 27px;
    margin: 0 !important;
}
.Links:hover{
text-decoration: underline;
	}
#SpecialLink:hover{
	text-decoration: underline;
}
#SpecialLink{
	color: #66666A;
	text-decoration: none;
	font-family: Arial;
	font-size: 13px;
	padding-left: 905px;
	margin: 0 !important;
	padding-right: 1px;

}