
body{
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
body, html{
	width:100% !important;
	height:100% !important;
}


img {
	display: block;
	margin:auto;
	height: 95px;
	width: 269px;
	position: absolute;

}

header{
padding: 20px;
}


#buttons{
	opacity: .85;
	float: right;
	margin-right: 30px;
	color: #000;
}

#buttons:hover{
	text-decoration: underline;	
}

#googlelaunchicon{
	height: 17px;
	width: 17px;
	float: right;
}

#Footer{
	background-color: #f2f2f2;;
	width: 100%;
	padding-top: 12px;
	padding-bottom:12px;
    border-top: 1px solid #e4e4e4;
    display: block;
    position: absolute;
    bottom: 0px;
}
.Links{
	color: #66666A;
	text-decoration: none;
	font-family: Arial;
	font-size: 13px;
	padding-left: 27px;
    margin: 0 !important;
}
.Links:hover{
text-decoration: underline;
	}
.SpecialLinks:hover{
	text-decoration: underline;
}
.SpecialLinks{
	color: #66666A;
	text-decoration: none;
	font-family: Arial;
	font-size: 13px;
	float: right;
	padding-right: 27px;
	margin: 0 !important;
}
button{
	-webkit-appearance: none;
-webkit-rtl-ordering: logical;
-webkit-user-select: none;
background-color: rgb(248, 248, 248);
background-image: -webkit-linear-gradient(top, rgb(248, 248, 248), rgb(241, 241, 241));
border-bottom-color: rgb(198, 198, 198);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(198, 198, 198);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(198, 198, 198);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(198, 198, 198);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 1px 0px;
color: rgb(34, 34, 34);
cursor: default;
display: inline-block;
font-family: arial, sans-serif;
font-size: 11px;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: bold;
height: 29px;
letter-spacing: normal;
line-height: 27px;
margin-bottom: 11px;
margin-left: 8px;
margin-right: 8px;
margin-top: 11px;
min-width: 54px;
padding-bottom: 0px;
padding-left: 8px;
padding-right: 8px;
padding-top: 0px;
text-align: center;
text-indent: 0px;
text-rendering: auto;
text-shadow: none;
text-transform: none;
width: 96px;
word-spacing: 0px;
writing-mode: lr-tb;
-webkit-writing-mode: horizontal-tb;
position: absolute;
top:42%;
left:53%;
margin-top: :-100px;
margin-left:-200px;

}
img {
    font-size: 13px;
	height: 135px;
	width: 320px;
    position: absolute;
    top: 32%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;

}
form{
	height: 900px;
	top:50%;
	left:45%;
	margin-top: -100px;
    margin-left: -200px;
    position: absolute;

}
#button2{
	-webkit-appearance: none;
-webkit-rtl-ordering: logical;
-webkit-user-select: none;
background-color: rgb(245, 245, 245);
background-image: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
border-bottom-color: rgba(0, 0, 0, 0.0980392);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgba(0, 0, 0, 0.0980392);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgba(0, 0, 0, 0.0980392);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgba(0, 0, 0, 0.0980392);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
color: rgb(68, 68, 68);
cursor: default;
display: inline-block;
font-family: arial, sans-serif;
font-size: 11px;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: bold;
height: 29px;
letter-spacing: normal;
line-height: 27px;
margin-bottom: 11px;
margin-left: 8px;
margin-right: 8px;
margin-top: 11px;
min-width: 54px;
padding-bottom: 0px;
padding-left: 8px;
padding-right: 8px;
padding-top: 0px;
text-align: center;
text-indent: 0px;
text-rendering: auto;
text-shadow: none;
text-transform: none;
visibility: visible;
width: 111px;
word-spacing: 0px;
writing-mode: lr-tb;
-webkit-writing-mode: horizontal-tb;
left: 48%;
}